# Install Flask
Flask==3.0.3

# Install dependencies for database management
Flask-PyMongo==2.3.0
pymongo[srv]==3.10.1
python-dotenv
python-dateutil   # dateutil for date parsing
google-cloud-documentai# Google Cloud Document AI client library
google-auth      # Google Authentication library
Flask-Cors        # Flask-CORS for Cross-Origin Resource Sharing
